<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-center">
        <div class="main-block d-flex flex-column">
          <div class="row">
            <div class="col-12">
              <span class="main-block__title">Выбор получателя</span>
            </div>
          </div>
              <div class="row mt-30 align-items-center">
                <div class="col-6">
                  <input type="text" [(ngModel)]="searchText" class="input-search" placeholder="Search">
                </div>
                <div class="col-6">
                  <div class="d-flex align-items-center">
                    <img src="../assets/images/visible.svg"
                         class="icon red-shadow"
                         alt="">
                    <img src="../assets/images/star.svg"
                         class="icon"
                         alt="">
                    <img src="../assets/images/plus.svg"
                         class="icon"
                         alt="">
                    <img src="../assets/images/edit.svg"
                         class="icon"
                         alt="">
                  </div>
                </div>
              </div>
          <form [formGroup]="myForm">
              <div class="row mt-15 users">
                <div class="col-12">

                  <ng-container formArrayName="users">
                  <div class="d-flex justify-content-between mt-15" *ngFor="let user of Users; let idx = index;">
                    <ng-container [formGroupName]="idx">
                      <div class="users__left-side d-flex align-items-center">
                        <img src="../assets/images/{{ user.img }}">
                        <div class="d-flex flex-column ml-10">
                          <span class="users-name">{{ user.name }}</span>
                          <span class="users-position">{{ user.position }}</span>
                        </div>
                      </div>
                      <div class="users__right-side" >
                        <label class="container-checkbox">
                          <input type="checkbox" [value]="user.id" formControlName="selected">
                          <span class="checkmark"></span>
                        </label>
                      </div>
                    </ng-container>
                  </div>
                  </ng-container>
                </div>
              </div>
              <div class="row mt-45">
                <div class="col-12">
                  <div class="d-flex justify-content-end">
                    <div class="btn btn-cancel" (click)="cancel()">
                      Отмена
                    </div>
                    <div class="btn btn-send ml-10" (click)="send()">
                      Отправить
                    </div>
                  </div>
                </div>
              </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
